# Terraform state and backup files
terraform.tfstate
terraform.tfstate.backup

# Ignore Terraform crash logs
crash.log

# Ignore Terraform provider cache directory
.terraform/

# Ignore sensitive variable files
terraform.tfvars
terraform.tfvars.json

# Ignore any generated plan files
*.tfplan

# Ignore sensitive SSH keys
*.pem
*.key

# Ignore logs and temporary files
*.log
*.tmp
.DS_Store
